.flag-toggle-script {
  background: #34d93f;
  background-image: -webkit-linear-gradient(top, #34d93f, #63b82b);
  background-image: -moz-linear-gradient(top, #34d93f, #63b82b);
  background-image: -ms-linear-gradient(top, #34d93f, #63b82b);
  background-image: -o-linear-gradient(top, #34d93f, #63b82b);
  background-image: linear-gradient(to bottom, #34d93f, #63b82b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.flag-toggle-script:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.flag-toggle-script a {
  color: #FEFEFE;
}

.flag-toggle-script a:hover {
  color: #FEFEFE;
  text-decoration: none;
}

.node-beaglebone-action .link-wrapper {
  text-align: center;
}

.node-beaglebone-action li.node-readmore {
  display: none;
}
